.header {
  height: var(--header-height);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-x);
  align-items: center;
}
.header__container {
  overflow: hidden;
  position: fixed;
  top: 0;
}
