.contactForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 15% auto;
  height: 80%;
}

.contactForm input {
  height: 50px;
  margin: 10px 0px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--text-black);
  outline: none;
  padding: 5px;
}

.contactForm label {
  font-size: 15px;
}

.contactForm textarea {
  flex: 0.7;
  border: 1px solid var(--text-black);
  outline: none;
  border-radius: 10px;
  padding: 5px;
}

@media only screen and (max-width: 1000px) {
  .contactForm {
    margin: 8% auto;
  }
}
