.footer {
  height: var(--footer-height);
  width: 50%;
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  /* left is -0.25 because of scroll is pushhing right section to the left */
  left: -0.25%;
  display: flex;
  align-items: center;
  z-index: 4;
  justify-content: space-between;
  padding: var(--padding-x);
}

.footer__icons {
  flex: 0.2;
  display: flex;
  justify-content: space-between;
  margin-right: clamp(20px, 2vw, 35px);
}
.footer__textContainer {
  flex: 0.8;
}
.footer__icons * {
  margin: 0 4px;
}

@media only screen and (max-width: 1000px) {
  .footer {
    position: static;
    width: 100vw;
    scroll-snap-align: start;
  }
  .footer__textContainer {
    display: none;
  }
  .footer__icons {
    flex: 1;
  }
}
