/* define css variables */
:root {
  --padding-x: clamp(20px, 2vw, 60px);
  --padding-y: 50px;
  --nav-background: rgba(11, 21, 39, 0.7);
  --nav-icon-color: rgba(6, 8, 14, 0.9);
  --font-family: "sans-serif";
  --pink: #ef6c62;
  --yellow: #f8b819;
  --blue-sky: #0786a1;
  --primary: #0b1527;
  --text-gray: #a5a5a5;
  --text-white: #fff;
  --text-black: #000;
  --footer-height: 80px;
  --header-height: 10vh;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  font-weight: 600;
  font-family: var(--font-family);
  font-size: clamp(30px, 5vw, 100px);
  margin: 15px 0;
}

.subTitle {
  font-family: var(--font-family);
  font-size: clamp(25px, 5vw, 45px);

  margin: 10px 0;
}
.paragraph {
  font-size: clamp(14px, 3vw, 25px);
  font-weight: normal;
  line-height: 33px;
  margin: 5px 0;
}

.gray {
  color: var(--text-gray);
}
