.info {
  height: calc(100% - var(--footer-height));
  padding: var(--header-height) var(--padding-x);
  display: flex;
  flex-direction: column;
  z-index: 100;

  justify-content: center;
}

.info__maxHeight {
  height: 100%;
  pointer-events: none;
}
.info__imageContainer {
  position: relative;
  width: 15%;
  min-width: 125px;
  min-height: 75px;
}
@media only screen and (max-width: 1000px) {
  .info {
    height: auto;
    align-items: center;
    justify-content: center;
  }
}
