.navIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  z-index: 200;
  border-radius: 100%;
  box-shadow: 1px 1px 1px #aaa;
  background-color: var(--nav-icon-color);
  margin: var(--padding-x);
  cursor: pointer;
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.line:nth-child(2) {
  margin: 5px 0px;
}
